<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title>UserInfo</title>
    <style>
        * {
            margin: 0 auto;
            padding: 0;
            background-color: azure
        }

        .userInfoWrap {
            margin: 200px;
            width: 600px;
            padding: 20px;
            font-size: 25px;
            border: 1px solid cadetblue;
        }
        .btnDelete{
            background-color: lightblue;
            cursor: pointer;
                height: 30px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="userInfoWrap">
    <div>
        <label><b>ID :</b></label>
        <span>{{user.id}}</span>
    </div>
    <div>
        <label><b>Name :</b></label>
        <span>{{user.userName}}</span>
    </div>
    <div>
        <label><b>Email :</b></label>
        <span>{{user.email}}</span>
    </div>
    <div>
        <label><b>Password :</b></label>
        <span>{{user.password}}</span>
    </div>
    <div>
        <form class="form" action="/users/{{user.id}}" method="post">
            <input class="btnDelete" type="submit" value="delete user">
        </form>
    </div>
</div>
</body>
</html>